In [3]:
import pandas as pd
import io
import re

# GenDB_2.0

Changes from 1.0:
1. Modify to use TPM from 6 quant files in place of full table of single quant file

mte-1-1_quants.sf,mte-1-2_quants.sf,mte-1-3_quants.sf,mte-2-1_quants.sf,mte-2-2_quants.sf,mte-2-3_quants.sf

In [8]:
fileNames = input('Enter relative paths for quantity files to be used, seperated by commas (include .sf): ')
fileList = fileNames.split(',')

tpmdf = pd.DataFrame()

#FIXME 2/7 This block is some shit ass code but its working, fix in future release
quants_file = open('E:/Work/Database/annotate_results/' + fileList[0])
quants_string = quants_file.read()

quants_string = quants_string.replace('\\',',')
quants_string = quants_string.replace('\t',',')
quants_string = re.sub(r'(FUN_[0-9]*)([\w\-\.]*),',r'\1,',quants_string)

quants = pd.read_csv(io.StringIO(quants_string))
Name = pd.DataFrame({'Name':quants['Name']})#,columns=['TPM_'+file]) #FIXME 2/6 Adding column names is resulting in empty df

tpmdf = pd.concat([tpmdf,Name],axis=1)



for file in fileList:
    quants_file = open('E:/Work/Database/annotate_results/' + file)
    quants_string = quants_file.read()

    quants_string = quants_string.replace('\\',',')
    quants_string = quants_string.replace('\t',',')
    quants_string = re.sub(r'(FUN_[0-9]*)([\w\-\.]*),',r'\1,',quants_string)

    quants = pd.read_csv(io.StringIO(quants_string))
    
    TPM = pd.DataFrame({file:quants['TPM']})#,columns=['TPM_'+file]) #FIXME 2/6 Adding column names is resulting in empty df
    
    tpmdf = pd.concat([tpmdf,TPM],axis=1)

In [9]:
tpmdf

,Name,mte-1-1_quants.sf,mte-1-2_quants.sf,mte-1-3_quants.sf,mte-2-1_quants.sf,mte-2-2_quants.sf,mte-2-3_quants.sf
0,FUN_000001,49.918815,48.651117,51.230655,114.005619,110.500698,148.934214
1,FUN_000002,29.904507,93.198164,110.905019,27.209175,24.818120,19.239628
2,FUN_000003,50.562275,47.350504,48.940137,102.872979,109.697093,93.527605
3,FUN_000004,19.525517,23.526021,25.051651,53.818736,49.702738,38.678011
4,FUN_000005,160.174081,192.480128,187.926480,212.566097,229.269026,178.248348
...,...,...,...,...,...,...,...
10660,FUN_010690,1.712326,0.463956,0.444573,0.000000,0.000000,0.000000
10661,FUN_010691,0.522796,0.000000,0.248775,1.584798,1.484800,2.265384
10662,FUN_010692,50.116782,16.360833,17.727651,350.414411,365.937848,275.970411
10663,FUN_010693,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10664,FUN_010694,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
gff3_file = open('E:/Work/Database/annotate_results/Mattiorlomyces_terfezioides.gff3')
gff3_string = gff3_file.read()

gff3_string = gff3_string.replace('\\',' ')
gff3_string = gff3_string.replace('\t',' ')
gff3_stsring = gff3_string.replace(';',' ')
gff3_string = re.sub('ID=[\w\-\.]*;','',gff3_string)
gff3_string = re.sub(r'Parent=(FUN_[0-9]*)([\w\-\.]*);',r'\1 ',gff3_string)


#FIXME: This drops product information. Should be modified to preserve product, but change whitespace to _
gff3_string = re.sub(r'product=[\w \-\.\'\\\(\,\/\+\:)]*?;',r'',gff3_string)
gff3_string = re.sub(r'product=[^;]*?;',r'',gff3_string)


newfile = open('test.txt','w')
newfile.write(gff3_string)

6351671

In [13]:
f = open("test.txt", "r")
data = [line.split() for line in f]

data = data[1:]
masterList = []
for line in data:
    newlist = []
    for item in line:
        newlist.append(item)
    masterList.append(newlist)

df = pd.DataFrame.from_dict(masterList)
df.columns = columns=['Scaffold','Source','Type','Start','End','A','B','C','Name','D','E','F','G','H']

In [24]:
#Take name from gene line and add it to mRNA line for each FUN
namedf = df.loc[df['Type'] == 'gene']

In [25]:
namedf

,Scaffold,Source,Type,Start,End,A,B,C,Name,D,E,F,G,H
0,scaffold_1,funannotate,gene,915,5180,.,-,.,Name=exo2;,None,None,None,None,None
14,scaffold_1,funannotate,gene,10546,12147,.,+,.,None,None,None,None,None,None
18,scaffold_1,funannotate,gene,14568,15728,.,+,.,None,None,None,None,None,None
24,scaffold_1,funannotate,gene,16317,20896,.,+,.,Name=SKI2;,None,None,None,None,None
46,scaffold_1,funannotate,gene,21517,21865,.,+,.,Name=N19M;,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88323,scaffold_580,funannotate,gene,24,697,.,+,.,None,None,None,None,None,None
88327,scaffold_621,funannotate,gene,83,567,.,-,.,None,None,None,None,None,None
88331,scaffold_633,funannotate,gene,19,468,.,+,.,None,None,None,None,None,None
88335,scaffold_679,funannotate,gene,338,413,.,+,.,None,None,None,None,None,None
88338,scaffold_712,funannotate,gene,172,387,.,-,.,None,None,None,None,None,None

In [21]:
finaldf = pd.merge(df.loc[df['Type'] == 'mRNA'],tpmdf,on='Name',how='right')

In [22]:
finaldf.to_csv('Mattiorlomyces_terfezioides_FULL.csv')

In [23]:
finaldf

,Scaffold,Source,Type,Start,End,A,B,C,Name,D,E,F,G,H,mte-1-1_quants.sf,mte-1-2_quants.sf,mte-1-3_quants.sf,mte-2-1_quants.sf,mte-2-2_quants.sf,mte-2-3_quants.sf
0,scaffold_1,funannotate,mRNA,915,5180,.,-,.,FUN_000001,"Ontology_term=GO:0000956,GO:0008409,GO:0003676...",None,None,None,None,49.918815,48.651117,51.230655,114.005619,110.500698,148.934214
1,scaffold_1,funannotate,mRNA,10546,12147,.,+,.,FUN_000002,Ontology_term=GO:0016491;Dbxref=InterPro:IPR00...,None,None,None,None,29.904507,93.198164,110.905019,27.209175,24.818120,19.239628
2,scaffold_1,funannotate,mRNA,14568,15728,.,+,.,FUN_000003,note=EggNog:ENOG503P4XH;,None,None,None,None,50.562275,47.350504,48.940137,102.872979,109.697093,93.527605
3,scaffold_1,funannotate,mRNA,16317,20896,.,+,.,FUN_000004,"Ontology_term=GO:0005524,GO:0003723,GO:0003724...",None,None,None,None,19.525517,23.526021,25.051651,53.818736,49.702738,38.678011
4,scaffold_1,funannotate,mRNA,21517,21865,.,+,.,FUN_000005,Dbxref=InterPro:IPR039961;note=EggNog:ENOG503P...,None,None,None,None,160.174081,192.480128,187.926480,212.566097,229.269026,178.248348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10660,scaffold_580,funannotate,mRNA,24,697,.,+,.,FUN_010690,None,None,None,None,None,1.712326,0.463956,0.444573,0.000000,0.000000,0.000000
10661,scaffold_621,funannotate,mRNA,83,567,.,-,.,FUN_010691,"note=COG:S,EggNog:ENOG503PHTC;",None,None,None,None,0.522796,0.000000,0.248775,1.584798,1.484800,2.265384
10662,scaffold_633,funannotate,mRNA,19,468,.,+,.,FUN_010692,"Dbxref=InterPro:IPR011993,InterPro:IPR001849,P...",None,None,None,None,50.116782,16.360833,17.727651,350.414411,365.937848,275.970411
10663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FUN_010693,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10664,scaffold_712,funannotate,mRNA,172,387,.,-,.,FUN_010694,"note=COG:A,EggNog:ENOG503BAHX;",None,None,None,None,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000